body {
    background-color: #121212;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    width: 50rem;
}

p {
    /*tamanho da fonte*/
    font-size: large;
    /*tamanho do espaçamento das linhas*/
    line-height: 2;
    /*espaçamento entre as letras*/
    letter-spacing: 1px;
    /*tamanho da fonte*/
    font-size: 30px;
    /*alinhamento do conteúdo*/
    text-align: justify;
    color: white;
    /*largura da caixa*/
    width: 55rem;
    /*borda da caixa*/
    border: 5px solid rgb(20, 156, 197);
    /*espaço entre o conteúdo e a caixa dele*/
    padding: 1.5rem;
}

#header {
    margin: 1rem;
    border: 2px solid #413c3c;
}

#logoTeclineHeader {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}
.titleHeader {
    margin-bottom: 1px;
    width: 55rem;
    text-decoration: underline;
    font-size: 60px;
    padding: 1rem;
    color: rgb(20, 156, 197);
    text-align: center;
}

.subtitleHeader {
    margin-top: 1px;
    font-size: 25px;
    text-decoration: underline;
    color: rgb(122, 122, 194);
}

.logoContainer {
    margin: 125px auto;
}

.logoTecline {
    max-width: 50rem;
    border: 5px double rgb(20, 156, 197);
    margin: auto;
    width: auto;
    height: auto;
}

.dicaMemoriaRAM, .atalhosWin10, .dicasSSD, .dicasBateria {
    max-width: 20rem;
    border: 5px double rgb(20, 156, 197);
    margin: auto;
    width: auto;
    height: auto;
}

.dicasPreservarPC {
    max-width: 17rem;
    border: 5px double rgb(20, 156, 197);
    margin: auto;
    width: auto;
    height: auto;
}

.logoLegend {
    color: whitesmoke;
}

.paragraphContainer {
    /*largura da caixa*/
    width: 90rem;
    /*espaçamento entre uma caixa e outra*/
    margin: 125px auto;
    background-color: rgb(20, 156, 197);
    padding: 1.5rem;
    border: 5px solid whitesmoke;
}

.paragraph {
    color: whitesmoke;
    font-size: large;
    /*largura da caixa*/
    width: 80rem;
    /*espaçamento entre uma caixa e outra*/
    margin: 50px auto;
    background-color: #332f2f;
    padding: 1.5rem;
    border: 5px solid whitesmoke;
}

.FirstParagraph {
    color: whitesmoke;
    font-size: large;
    /*largura da caixa*/
    width: 80rem;
    margin: top auto;
    background-color: #332f2f;
    padding: 1.5rem;
    border: 5px solid whitesmoke;
}

.LastParagraph {
    color: whitesmoke;
    font-size: large;
    /*largura da caixa*/
    width: 80rem;
    margin: bottom auto;
    background-color: #332f2f;
    padding: 1.5rem;
    border: 5px solid whitesmoke;
}

#sigla {
    text-align: center;
    width: 30rem;
    text-decoration: underline;
    border: 2px solid rgb(112, 181, 202);;
    padding: 5px;
}